/.ipynb_checkpoints
src/.ipynb_checkpoints
/.proj
/.project.json
/.virtual_documents
/.vscode
/archive
/__pycache__
plugged-old/
*.pyc
tags
test.*
temp*.*
*.ipynb
*checkpoint*.*
todo.md
*.log
*.pickle
.github


