[*.lua]

indent_size = 2
#--no-use-tab
indent_style = space
tab_width = 2

continuation_indent = 2
trailing_table_separator = keep
align_continuous_line_space = 2
space_around_table_field_list = false
